.container
  #login_panel.col-sm-6.col-sm-offset-3
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      - if flash[:alert]
        .alert.alert-danger{:role => "alert"}
          = flash[:alert]
      .form-group
        = f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: t('admin.session.input_email')
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: t('admin.session.input_password')
      = f.submit t('admin.session.login_btn'), class: 'btn btn-lg btn-primary btn-block'
:css
  form {
    top: 50%;
    position: relative;
    margin-top: -84px;
  }
:javascript
  var height = $(window).height();
  $('#login_panel').height(height);

  $(window).resize(function() {
    var height = $(window).height();
    $('#login_panel').height(height);
  });
