<div id="home" class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <a href="<%= @products[0].id ? product_path(@products[0].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[0].cover_src(:medium)) %>')">
              <img src="<%= asset_path("blank.png") %>" class="img-responsive">
              <div>
                <h3>
                  <%= @products[0].trans_title %>
                  <br>
                  <small><%= @products[0].trans_content %></small>
                </h3>
                <div>
                  <%=raw @products[0].trans_description %>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12">
            <a href="<%= @products[1].id ? product_path(@products[1].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[1].cover_src(:medium)) %>')">
              <img src="<%= asset_path("blank.png") %>" class="img-responsive">
              <div>
                <h3>
                  <%= @products[1].trans_title %>
                  <br>
                  <small><%= @products[1].trans_content %></small>
                </h3>
                <div>
                  <%=raw @products[1].trans_description %>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <a href="<%= @products[2].id ? product_path(@products[2].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[2].cover_src(:medium)) %>'); background-size: auto 100%">
          <img src="<%= asset_path("blank_h.png") %>" class="img-responsive">
          <div>
            <h3>
              <%= @products[2].trans_title %>
              <br>
              <small><%= @products[2].trans_content %></small>
            </h3>
            <div>
              <%=raw @products[2].trans_description %>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-12 col-sm-8">
        <a href="<%= @products[3].id ? product_path(@products[3].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[3].cover_src(:medium)) %>')">
          <img src="<%= asset_path("blank.png") %>" class="img-responsive">
          <div>
            <h3>
              <%= @products[3].trans_title %>
              <br>
              <small><%= @products[3].trans_content %></small>
            </h3>
            <div>
              <%=raw @products[3].trans_description %>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <a href="<%= @products[4].id ? product_path(@products[4].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[4].cover_src(:medium)) %>')">
              <img src="<%= asset_path("blank.png") %>" class="img-responsive">
              <div>
                <h3>
                  <%= @products[4].trans_title %>
                  <br>
                  <small><%= @products[4].trans_content %></small>
                </h3>
                <div>
                  <%=raw @products[4].trans_description %>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12" style="margin-top: 10px;">
            <a href="<%= @products[5].id ? product_path(@products[5].id) : '#' %>" class="rollover blueroll" style="background-image: url('<%= asset_path(@products[5].cover_src(:medium)) %>')">
              <img src="<%= asset_path("blank.png") %>" class="img-responsive">
              <div>
                <h3>
                  <%= @products[5].trans_title %>
                  <br>
                  <small><%= @products[5].trans_content %></small>
                </h3>
                <div>
                  <%=raw @products[5].trans_description %>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>