#home.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .row
      .col-xs-12.col-sm-7
        .introduction-panel.redbg
          %h1.introduction-title
            %em 公司簡介
          %p 勝群貿易有限公司於2012年6月由台灣經濟部核准成立，為專業油品進口貿易及品牌通路開拓，目前公司代理品牌有德國 KUTTENKEULER(庫登庫勒) 及自有品牌 WINSTANK(勝坦潤滑油)…等多項品牌油品，為了保證其純正的質量，所有的產品皆在原產地生產與罐裝，並通過生產管理，保證高品質。
          %p 勝群貿易有限公司始終遵循國際貿易慣例，秉持著專業、優質服務、守信用的宗旨，創造互利雙贏的經營理念，我們深信以熱忱服務的新，與優良產品的提供，能讓接受服務的客戶與使用者獲得最大的滿意與需求。
          %h1.introduction-title.service
            %em 主要商品／服務項目
          %p 油品行銷、通路推廣、目前公司代理品牌有德國 KUTTENKEULER(庫登庫勒) 及自有品牌 WINSTANK(勝坦潤滑油)…等多項品牌油品。
      .col-xs-12.col-sm-5
        %div.bluebg adadad
  .col-xs-12.col-sm-10.col-sm-offset-1
    .row
      .col-xs-12.col-sm-5
        .row
          .col-xs-12.col-sm-12
            %a.rollover.blueroll{:href => "#{@products[0].id ? product_path(@products[0].id) : '#'}", :style => "background-image: url('#{asset_path(@products[0].cover_src(:medium))}')"}
              %img.img-responsive{:src => "#{asset_path("blank.png")}"}/
              %div
                %h3
                  = @products[0].trans_title
                  %br/
                  %small= @products[0].trans_content
                %div
                  = raw @products[0].trans_description
          .col-xs-12.col-sm-12
            %a.rollover.blueroll{:href => "#{@products[1].id ? product_path(@products[1].id) : '#'}", :style => "background-image: url('#{asset_path(@products[1].cover_src(:medium))}')"}
              %img.img-responsive{:src => "#{asset_path("blank.png")}"}/
              %div
                %h3
                  = @products[1].trans_title
                  %br/
                  %small= @products[1].trans_content
                %div
                  = raw @products[1].trans_description
      .col-xs-12.col-sm-7
        %a.rollover.blueroll{:href => "#{@products[2].id ? product_path(@products[2].id) : '#'}", :style => "background-image: url('#{asset_path(@products[2].cover_src(:medium))}');"}
          %img.img-responsive{:src => "#{asset_path("blank_h.png")}"}/
          %div
            %h3
              = @products[2].trans_title
              %br/
              %small= @products[2].trans_content
            %div
              = raw @products[2].trans_description
      .col-xs-12.col-sm-8
        %a.rollover.blueroll{:href => "#{@products[3].id ? product_path(@products[3].id) : '#'}", :style => "background-image: url('#{asset_path(@products[3].cover_src(:medium))}')"}
          %img.img-responsive{:src => "#{asset_path("blank.png")}"}/
          %div
            %h3
              = @products[3].trans_title
              %br/
              %small= @products[3].trans_content
            %div
              = raw @products[3].trans_description
      .col-xs-12.col-sm-4
        .row
          .col-xs-12.col-sm-12
            %a.rollover.blueroll{:href => "#{@products[4].id ? product_path(@products[4].id) : '#'}", :style => "background-image: url('#{asset_path(@products[4].cover_src(:medium))}')"}
              %img.img-responsive{:src => "#{asset_path("blank.png")}"}/
              %div
                %h3
                  = @products[4].trans_title
                  %br/
                  %small= @products[4].trans_content
                %div
                  = raw @products[4].trans_description
          .col-xs-12.col-sm-12{:style => "margin-top: 10px;"}
            %a.rollover.blueroll{:href => "#{@products[5].id ? product_path(@products[5].id) : '#'}", :style => "background-image: url('#{asset_path(@products[5].cover_src(:medium))}')"}
              %img.img-responsive{:src => "#{asset_path("blank.png")}"}/
              %div
                %h3
                  = @products[5].trans_title
                  %br/
                  %small= @products[5].trans_content
                %div
                  = raw @products[5].trans_description
:css
  .redbg {
    background-color: red;
  }
  .bluebg {
    background-color: blue;
  }
