!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'sc-icon.png'
  %body#admin
    = render 'layouts/admin/nav_bar'
    .container{:style => "margin-top: 60px;"}
      - if flash[:notice]
        .alert.alert-info{:role => "alert"}
          = flash[:notice]
      = yield
