<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
l  <%= csrf_meta_tags %>
</head>
<body id="admin">
<%= render 'layouts/admin/nav_bar' %>
<div class="container" style="margin-top: 60px;">
  <% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>  
	<%= yield %>
</div>

</body>
</html>