<%
image_data = Photo::DEFAULT_IMG_SRC
image_data = @current_photo_url if @current_photo_url
%>
<div class="form-group">
  <label class="control-label">
    上傳圖片
  </label>
  <div class="row">
    <div class="col-sm-5">
      <a href="#" class="thumbnail">
        <%= form_for [:admin, @photo], remote: true, authenticity_token: true, :html => { :multipart => true, id: 'photo_form' } do |f| %>
          <%= f.file_field :avatar, id: :fileupload, accept: "image/*" %>
        <% end %>
        <img class="img-responsive loading-gif" src="http://sierrafire.cr.usgs.gov/images/loading.gif" style="display: none;">
        <img class="img-responsive cover-display" data-src="holder.js/100%x200" alt="100%x200" src="<%= image_data %>" data-holder-rendered="true">
      </a>
      <p class="help-block">格式: .jpg, .jpeg, .gif, .png，且檔案小於4MB。</p>
    </div>
  </div>
</div>
<%= form_for([:admin, @admin_product], :html => { class: 'form', :role => "form", autocomplete: 'off'}) do |f| %>
  <% if @admin_product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @admin_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>
  <%= f.hidden_field :photo_id %>
  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label">上下架</label>
      <div class="input-group">
        <% states = @admin_product.state_paths.to_states.map { |state| [Product.human_state_name(state), state] } %>
        <%= f.select(:state, states, {}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">置頂</label>
      <div class="input-group col-sm-3">
        <div class="input-group-addon">第</div>
        <%= f.number_field :top_rate, min: 1, class: 'form-control' %>  
        <div class="input-group-addon">順位</div>
      </div>
      <p class="help-block">可不設定，不設定時，排序依照新增時間，最新的在最前。</p>
    </div>
  </div>

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">繁體</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">简体</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">English</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <br>
        <%= render 'zh_TW_input', {f: f} %>      
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
        <br>
        <%= render 'zh_CN_input', {f: f} %>      
      </div>
      <div role="tabpanel" class="tab-pane fade" id="messages">
        <br>
        <%= render 'en_input', {f: f} %>      
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= f.submit '送出', class: 'btn btn-primary col-sm-2' %>
  </div>
<% end %>

<script type="text/javascript">
  $('.ckeditor').ckeditor({
    height: 280,
    toolbar: [
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
      { name: 'insert', items: [ 'Table'] },
      { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
      { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
      { name: 'tools', items: [ 'Maximize'] },
      { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] }
    ]
  });

  $('.thumbnail').fileupload({
    dataType: 'json',
    add: function (e, data) {
      $('.loading-gif').show();
      data.submit();
    },
    done: function (e, data) {
      $('.thumbnail').find('.cover-display').attr('src', data.result.medium)
      $('.loading-gif').hide();
      $('#product_photo_id').val(data.result.id);
    },
    fail: function(e, data) {
      if (data.errorThrown === 'Unprocessable Entity') {
        alert(data.jqXHR.responseJSON.avatar[0]);
      } else if (data.errorThrown === 'Request Entity Too Large') {
        alert('檔案太大無法上傳。');
      } else {
        alert('上傳出錯，不明原因。');
      }
      $('.loading-gif').hide();
    }
  });

</script>

<style type="text/css">
.thumbnail {
  position: relative;
}
.loading-gif {
  position: absolute;
  top: -10px;
}

#fileupload {
  height:  100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
textarea { resize: vertical; }
.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}
</style>
