<style type="text/css">
  table .thumbnail {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 1px;
  }
  table .thumbnail > img {
    width: 100%;
    height: 100%; 
  }
</style>

<% 
image_data = "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkzIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5MyAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTkzIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjcwLjU1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5M3gyMDA8L3RleHQ+PC9nPjwvc3ZnPg=="
%>

<h1>產品列表</h1>
<%= link_to '新增產品', new_admin_product_path %>

<table class="table">
  <thead>
    <tr>
      <th>置頂</th>
      <th>ID</th>
      <th>圖片</th>
      <th>產品名</th>
      <th>新增於</th>
      <th>更新於</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr style="<%= (admin_product.top_rate.present?) ? 'background-color: #DAEFCC;' : '' %>">
        <td><%= admin_product.top_rate %></td>
        <td><%= admin_product.id %></td>
        <td>
          <% if admin_product.photo %>
            <div class="thumbnail">
              <img src="<%= admin_product.photo.avatar.url(:thumb) %>">
            </div>
          <% else %>
            <div class="thumbnail">
              <img src="<%= image_data %>">
            </div>
          <% end %>
        </td>
        <td><%= admin_product.zh_TW_title %></td>
        <td><%= admin_product.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= admin_product.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to '編輯', edit_admin_product_path(admin_product) %>
          <%= link_to '刪除', admin_product_path(admin_product), method: :delete, data: { confirm: '確定刪除?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>