<div id="contact" class="row">
  <div class="board col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-xs-7 col-sm-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.950971314364!2d120.53593849999999!3d22.54350930000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e21ddafb0d9b9%3A0x5abfc3f5018ba97f!2zOTIw5bGP5p2x57ij5r2u5bee6Y6u5LuL5aO96LevMTE46Jmf!5e0!3m2!1szh-TW!2stw!4v1429182563337" width="100%" height="400" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="col-xs-5 col-sm-5 info">
        <address class="info-content">
          <strong class="title"><%= t('contact.company') %></strong>
          <br>
          <%= t('contact.address') %>
          <br>
          <abbr title="Phone"><%= t('contact.phone_title') %>:</abbr> <%= t('contact.phone') %>
          <br>
          <abbr title="Fax"><%= t('contact.fax_title') %>:</abbr> <%= t('contact.fax') %>
        </address>
      </div>
    </div>
    
  </div>
</div>