<h1>管理員列表</h1>
<%= link_to '新增管理員', new_admin_user_path %>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>名稱</th>
      <th>email</th>
      <th>產品管理權限</th>
      <th>客服權限</th>
      <th>超級管理員</th>
      <th>新增於</th>
      <th>修改於</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.id %></td>
        <td><%= admin_user.username %></td>
        <td><%= admin_user.email %></td>
        <td>
          <% if admin_user.is_product_manager %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if admin_user.is_customer_service_manager %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if admin_user.is_super_admin %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= admin_user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= admin_user.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>
          <%= link_to "編輯", edit_admin_user_path(admin_user) %>
          <% if admin_user.id != current_user.id %>
            <%= link_to '刪除', admin_user_path(admin_user), method: :delete, data: { confirm: '確定刪除？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
