#products.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .category-panel
      %ul.nav.nav-pills
        - Product.cates.each do |k, cate|
          = active_link_to(products_path(cate: k), active: /#{Regexp.escape(k.to_s)}/, wrap_tag: :li) do
            = cate
  - @products.in_groups_of(4, false) do |row_products|
    .col-xs-12.col-sm-12
      .row
        - row_products.each do |product|
          .col-sm-3
            %a.thumbnail{:href => "#{product_path(product.id)}"}
              .row
                .col-xs-12.col-sm-12
                  %img{:alt => "160X160", "data-holder-rendered" => "true", "data-src" => "holder.js/100%x100%", :src => "#{product.cover_src(:medium)}", :style => "height 100%; width: 100%; display: block;"}/
                .col-xs-12.col-sm-12
                  .caption
                    %h4
                      = product.trans_title
                      %br/
                      %small= product.trans_content
