<% 
  default_image = Photo::DEFAULT_IMG_SRC
%>
<div id="product" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row thumbnail">
      <div class="col-xs-12 col-sm-6">
        <img data-src="holder.js/100%x100%" alt="100%x200" style="height: 100%; width: 100%; display: block;" src="<%= (@product.photo.nil?) ? default_image : @product.photo.avatar.url(:medium) %>" data-holder-rendered="true">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="caption">
          <h4>
            <%= @product.trans_title %><br>
            <small><%= @product.trans_content %></small>
          </h4>
          <div class="area-description"><%=raw @product.trans_description %></div>
          <div class="area-applicable-type">
            <h5><%= t('product.applicable_type') %></h5>
            <% @product.trans_applicables.each do |type| %>
              <span>
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <%= type %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>